// Use any valid CSS color format
$deep-green: #014b10;
$deep-green: hsl(132, 97%, 15%);
$deep-green: rgb(1, 75, 16);

// any valid CSS value format is OK
$border: 1px solid green;
$margins: 10em 12px 8rem 0;

// You can use numbers in variables names
$padding: 10px;
$padding-2x: 20px;
$padding-3x: 30px;

// hyphens and underscores are interchangeable
$chameleon-width: 20%;
$chameleon_height: 30%;

// strings are valid from no quote, single quote to double quotes.
$default-font: Source Sans Pro, "Helvetica", 'sans-serif';

body {
  background-color: $deep-green;
}

h1 {
  color: #ff9800;
  letter-spacing: 10px;
}

#chameleon {
  width: $chameleon-width;
  height: $chameleon_height;
}
